extends layouts/basic

block content
  - var hasResult = results.length > 0;
  - var emptyResult = results.length === 0 && search;

  .wrapper-color
    header.header
      a.header__logo.logo(href='#')
        img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
        span.logo__name Типотека
      button.button.button--colored.header__button-new Новая запись
      .header__dropdown
        a.button.button--burger.header__burger(href='#') Открыть меню
        ul.navigation.header__navigation
          li.navigation__item
            a(href='main.html') Пункт меню
          li.navigation__item
            a(href='main.html') Пункт меню
          li.navigation__item
            a(href='main.html') Пункт меню
          li.navigation__item
            a(href='main.html') Пункт меню
      a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
    main
      section.search-page
        div(class=`search-page__wrapper ${emptyResult ? 'search-page__wrapper--empty' : ''}`)
          h1 Поиск
          .search.search-page__form
            form(method="get" action="/search" autocomplete="off")
              label
                input(type='text' name='search' placeholder='Что ищем?' value=search)
              button.search__button.button.button--transparent(type='submit') Найти
            if hasResult
              each result in results
                .search__result
                  time.search__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                  a.search__link(href=`/articles/${result.id}`) !{result.title.replace(search, `<b>${search}</b>`)}
            else if emptyResult
              p.search-page__empty Ничего не нашлось
