extends layouts/basic

block content
  - var hasResult = results.length > 0;
  - var emptyResult = results.length === 0 && search;

  .wrapper-color
    main
      section.search-page
        div(class=`search-page__wrapper ${emptyResult ? 'search-page__wrapper--empty' : ''}`)
          h1 Поиск
          .search.search-page__form
            form(method="get" action="/search" autocomplete="off")
              label
                input(type='text' name='search' placeholder='Что ищем?' value=search)
              button.search__button.button.button--transparent(type='submit') Найти
            if hasResult
              each result in results
                .search__result
                  +formatDate(result.createdAt)(class='search__date')
                  a.search__link(href=`/articles/${result.id}`) !{result.title.replace(search, `<b>${search}</b>`)}
            else if emptyResult
              p.search-page__empty Ничего не нашлось
